/dist/scripts/
/dist/bin/
/dist/LICENSES/
/dist/COPYING
/openocd/
/windows/pkgconfig/*.pc
/windows/hidapi-libusb/
/windows/libusb-1.0/
/windows/dist/bin
/windows/dist/scripts
/windows/dist/LICENSES/
/windows/dist/COPYING
